$white: #ffffff;
$whiteRgb: 255, 255, 255;
$whiteRgb: 255, 255, 255;
$secondary: #00f070;
$secondaryRgb: 0, 240, 112;

$black: #000000;
$blackRgb: 0, 0, 0;

:root {
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #1e1d1d;
  --black-rgb: 0, 0, 0;
  --secondary: #00f070;
  --secondary-rgb: 0, 240, 112;
  --background-color: var(--black);
  --background-color-rgb: var(--black-rgb);
  --background-color-hover: rgba(var(--black-rgb), 0.8);
  --primary-text-color: var(--white);
  --primary-text-color-hover: rgba(var(--white-rgb), 0.8);
  --secondary-rgb: 0, 240, 112;
}

[data-theme="light"] {
  --background-color: var(--white);
  --background-color-hover: rgba(var(--black-rgb), 0.1);
  --primary-text-color: var(--black);
  --primary-text-color-hover: rgba(var(--black-rgb), 0.8);
  --secondary: var(--primary-text-color);
}

// [data-theme="dark"] {
//   --background-color: var(--black);
//   --background-color-hover: rgba(var(--black-rgb), 0.8);
//   --primary-text-color: var(--white);
//   --primary-text-color-hover: rgba(var(--white-rgb), 0.8);
// }
